* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@800&display=swap");
body {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  min-height: 100vh;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.page {
  min-height: 100vh;
}
.page1 {
  padding-left: 10vw;
  padding-top: 80px;
  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );
  margin-bottom: 0 !important;
  min-height: 100vh;
}
.page2 {
  color: #05d5b8;
  background: #554cc2;
  margin-top: -20px !important;
}
.gaming {
  background: linear-gradient(180deg, #cb4580 0%, #cb1e52 100%);
  height: 600px;
}
.techTalks {
  background: linear-gradient(148deg, #00938a 9.18%, #00a098 90.83%);
  height: 600px;
}
.eventsFlow {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  // line-height: 87%;
  /* identical to box height, or 70px */

  // letter-spacing: 0.02em;

  color: #05d4b8;

  width: 100%;
  // height: 40px;
  overflow: hidden !important;
  // display: flex;
}
.zOK {
  display: flex;
}
.zOK span {
  padding: 0 20px;
}
.bEl {
  animation: AlL 20s linear infinite;
}
@keyframes AlL {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.lookman {
  position: absolute;
  // height: 526px;
  width: 526px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.tagline {
  width: 90%;
  right: 31.18%;
  margin-top: 20px;
  font-family: "Epilogue", "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 87%;
  /* or 70px */

  letter-spacing: -0.015em;

  color: #ffffff;
}
.subhead {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  margin: 20px 47.57% 0 0;
  // margin-right: 47.57%;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  /* or 30px */

  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  // line-height: 87%;
  /* or 26px */
  color: #ffffff;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  mix-blend-mode: overlay;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgba(151, 1, 1, 0.2);
  mix-blend-mode: normal;
  backdrop-filter: blur(90px);
  height: 50px;
  z-index: 9;
}
.navbar .item {
  margin: 10px 20px;
  mix-blend-mode: overlay;
}
.button {
  width: 325px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
}
.button svg {
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.button:hover svg {
  transform: translate(4px, 0);
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
// .button:hover {
//   transform: translate(0, -4px);
// }
.red {
  background: #c83200;
  border: 2px solid #c83200;
  color: #ffffff;

  opacity: 0.8;
}

.ideathon {
  background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
  height: 600px;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .tagline {
    text-align: center;
    font-size: 1em;
  }
}

@font-face {
  font-family: "Integral CF";
  src: url("fonts/IntegralCF-ExtraBold.woff2") format("woff2"),
    url("fonts/IntegralCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"),
    url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"),
    url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.woff2") format("woff2"),
    url("fonts/CircularStd-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
